{{> head }}
{{> navbar }}

<div class="row">

<div class="col-8"></div>
<h1>FollowMe</h1>
</div>

<div class="col-4"></div>
<img src="/public/assets/img/QR_LinkedinPerfil.png" class="img-thumbnail">
</div>

{{> footer}}